# JPEG
*.jpg
*.jpeg
*.jpe
*.jif
*.jfif
*.jfi

# JPEG 2000
*.jp2
*.j2k
*.jpf
*.jpx
*.jpm
*.mj2

# JPEG XR
*.jxr
*.hdp
*.wdp

# Graphics Interchange Format
*.gif

# RAW
*.raw

# Web P
*.webp

# Portable Network Graphics
*.png

# Animated Portable Network Graphics
*.apng

# Multiple-image Network Graphics
*.mng

# Tagged Image File Format
*.tiff
*.tif

# Scalable Vector Graphics
*.svg
*.svgz

# Portable Document Format
*.pdf

# X BitMap
*.xbm

# BMP
*.bmp
*.dib

# ICO
*.ico

# 3D Images
*.3dm
*.max

## reference link:https://blog.martinhujer.cz/dont-put-idea-vscode-directories-to-projects-gitignore/
## or 
## reference link:https://stackoverflow.com/questions/32964920/should-i-commit-the-vscode-folder-to-source-control
lib
### VisualStudioCode ###
.vscode/*      # Maybe .vscode/**/* instead - see comments
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

## reference link:https://github.com/microsoft/vscode-java-test/blob/main/.gitignore
# Compiled class file
*.class

# Log file
*.log
**/test-launch.config

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.iml
**/*.vsix

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

**/.idea/
**/.gradle
**/node_modules/
.DS_Store
target/
.classpath
.project
.settings
**/.checkstyle
target/
bin/
**/lib/
out/
server/
.jqwik-database

jdtls/

!java-extension/.mvn/wrapper/maven-wrapper.jar

out
node_modules
*.vsix
.vscode-test
resources/templates/css/**
resources/templates/js/**
resources/templates/fonts/**
dist
**/vscode.d.ts
**/vscode.proposed.d.ts