.root{
    -fx-background-color: "pink";
}

/* .button{
    -fx-background-color: "yellow";    
}
.button:hover{
    -fx-background-color: "green";    
    -fx-text-fill: "white";
    -fx-cursor: "hand";
} */

.table-view, .list-view{
    -fx-font-size: 20px;
}
/* https://stackoverflow.com/questions/18700478/set-row-height-in-javafx-tableview */
.table-row-cell, .list-cell{
    -fx-cell-size: 50px;
}
.table-row-cell:odd, .list-cell:odd {
    -fx-background-color: #F4E3CE; 
}
.table-row-cell:even, .list-cell:even {
    -fx-background-color: #FFFFFF; 
}
.table-row-cell:selected, .list-cell:selected {
    -fx-background-color: steelblue; 
    -fx-text-fill: white;
}
.table-row-cell:hover, .list-cell:hover {
    -fx-background-color: #4ca8f5; 
    -fx-text-fill: white;
}

.button,.radio-button,#iconOrderHistory,#iconHome,#iconBack,#iconCart,#iconEdit,#iconProfile,#iconAdd,#iconRefresh,#linkLogout,#linkToRegister,#linkToLogin{
    -fx-cursor: "hand";
}

/* rider & seller HomeScreen Pane("big" button) */
#btnIncomingOrder,#btnManageProduct,#btnOrderHistory,#btnMyShop,#btnApproveSeller,#btnApproveRider{
    -fx-background-color: white;
    -fx-font-size: 30px;
}
#btnIncomingOrder:hover,#btnManageProduct:hover,#btnOrderHistory:hover,#btnMyShop:hover,#btnApproveSeller:hover,#btnApproveRider:hover{
    -fx-cursor: "hand";
    -fx-background-color: #de7a00;
}