.root{
    -fx-background-color: "pink";
}

/* .button{
    -fx-background-color: "yellow";    
}
.button:hover{
    -fx-background-color: "green";    
    -fx-text-fill: "white";
    -fx-cursor: "hand";
} */

.table-view{
    -fx-font-size: 20px;
}
/* https://stackoverflow.com/questions/18700478/set-row-height-in-javafx-tableview */
.table-row-cell {
    -fx-cell-size: 50px;
}
.table-row-cell:odd {
    -fx-background-color: #F4E3CE; 
}
.table-row-cell:even {
    -fx-background-color: #FFFFFF; 
}
.table-row-cell:selected {
    -fx-background-color: steelblue; 
}

.button,.radio-button,#iconOrderHistory,#iconHome,#iconBack,#iconCart,#iconEdit,#iconProfile,#linkLogout,#linkToRegister,#linkToLogin{
    -fx-cursor: "hand";
}