.root{
    -fx-background-color: "gold";
}

.button{
    -fx-background-color: "yellow";    
}

.button:hover{
    -fx-background-color: "green";    
    -fx-text-fill: "white";
    -fx-cursor: "hand";
}